.collapsible,
.collapsible_new-car-div {
    border: 2px solid rgb(52, 80, 76, 1);
    background-color: rgba(52, 80, 76, 0.8);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: sans-serif;
    font-size: 1.25em;
}

.collapsible {
    background-color: rgba(208, 100, 0, 0.8);
    color: black;
}

.collapsible_new-car-div.on-eligibility {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(171, 154, 119, 0.6);
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
}

.collapsible.on-route-planner {
    border: 2px solid rgb(59, 90, 68, 0.8);
    background-color: rgb(59, 90, 68, 0.8);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover,
.collapsible_new-car-div:hover {
    scale: 1.03;
    transition: .3s;

}

.collapsed-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    /* background-color: #f1f1f1; */
}

.collapsed-content-viewable {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    /* background-color: #f1f1f1; */
}

.collapsed-content-viewable p {

    margin-top: 15px;
}

.collapsible:after,
.collapsible_new-car-div:after {
    content: '\25B4';
    /* Unicode character for small up arrow */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\25BE";
    /* Unicode character for small down arrow */
}