form {
    width: 45vw;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 50px;
    border-radius: 10px;
}


#eligibilityForm {
    background: rgba(0, 0, 0, 0.8);
    width: 33vw;
    /* height: 20vh; */
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 7px;
    border-radius: 30px;

}


#new-car-form,
#edit-car-form {
    margin-top: 1rem;
}

#directions-form {
    width: 25vw;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

#directions-form select,
#directions-form input {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(74, 38, 30, 0.6);
    color: white;
}

#eligibilityForm select,
#eligibilityForm input {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(171, 154, 119, 0.6);
    color: white;
}



.container-fluid {
    position: relative;
    /* z-index: 9; */
}

div.elem-group {
    margin-top: 30px;
    margin-bottom: 20px;
}

div.elem-group.inlined {
    width: 48%;
    display: inline-block;
    /* float: left; */
    margin-left: 1%;
    margin-top: 30px;
    margin-bottom: 20px;
}

div.elem-group.inlined-big {
    width: 90%;
    display: inline-block;
    /* float: left; */
}

div.elem-group.inlined-small {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 10%;
    height: auto;
    display: inline-block;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
}


.route-planner-del-button {
    padding-left: 2px !important;

}

label {
    display: block;
    font-family: sans-serif;
    font-weight: 800;
    padding-bottom: 0px;
    font-size: 1.40em;
    color: white;
}

/* .checkbox, */
.select1,
/* .options, */
.selected-options,
input,
select {
    border-radius: 10px;
    border: 2px solid rgb(59, 90, 68, 0.8);
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: sans-serif;
    width: 100%;
    padding: 10px;
    background-color: rgb(59, 90, 68, 0.8);
    color: white;
}


div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
}

textarea {
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255, 0.7);
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    color: black;
    height: 100px;
}

hr {
    border: 1px dotted #ccc;
}

/* button {
    background-color: white;
    border: 2px solid black;
    color: black;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
    padding: 2px;
} */

.directions-button-container {
    display: flex;
    justify-content: space-evenly;
}

/* button, */
.directions-button {
    background-color: rgb(81, 115, 69, 0.7);
    color: white;
    border: 1px solid white;
    font-family: 'Nanum Gothic';

    /* width: 40px;
    height: 30px; */
    margin: 3px;
}

.directions-button:hover {
    border: 2px solid white;
}

button:hover {
    border: 2px solid white;
}

.form-container {
    width: 100%;
    margin-top: 2vh;
}

.two-columns {
    width: 100%;
    height: 20%;
    margin: auto;
    display: flex;
    padding-bottom: 100px;
    justify-content: center;
    margin: 0 auto;
    background-color: #87aef4;
}

form .origin {
    position: relative;
    top: 0;
    width: 500px;
    height: 400px;
    padding-left: 100px;
    padding-right: 100px;
}

form .destination {
    position: relative;
    top: 80px;
    right: 0;
    width: 500px;
    height: 400px;
    padding-left: 100px;
    padding-right: 100px;

}


#hidden {
    display: none;
    position: static;
}


/* #add-car-button {
    background-color: #f9ea94;
    text-align: center;
    color: black;
    font-size: 3vh;
    height: 2vw;
    width: 2vw;
    font-weight: bolder;
} */

#has_dpf {
    border-radius: 10px;
    position: relative !important;
    left: -15px !important;
    width: 2.5vw !important;
    height: 2.5vh;

}

#has_dpf:checked+.elem-group::before {
    background-color: red !important;
    border-color: red !important;
}

.custom-checkbox {
    width: 1vw !important;
}

/* seacrh button */