{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Place Autocomplete</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- AIzaSyDSrGZOUl7LV020hIPMv0WXyKemXGj0Vgk -->
    <script src="../static/route_planner2.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSrGZOUl7LV020hIPMv0WXyKemXGj0Vgk&libraries=places&callback=initMap"
        defer></script>

    <link rel="stylesheet" href="../static/map.css">
    <link rel="stylesheet" href="../static/list.css">
    <link rel="stylesheet" href="../static/notifications.css">
</head>


<body class="route-planner">


    <div class="route-planner-description">

        <p class="text">
            Please select your vehicle and your destination.
            <br>
            Remember, the access will only be
            assessed for the selected destination, as Low Emission Zones primarily affect city centers.
            <br>
            We recommend adding any intermediary cities you plan to pass through, as they won't be automatically
            included in the evaluation.
        </p>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="left-div addresses left-content ">
                <div class=" form-container">
                    <form id="directions-form" method="POST">
                        <h2 style="display: flex; justify-content: center; ">
                            ROUTE PLANNER</h2>
                        <div class="elem-group ">
                            <label for="selected-car">SELECT VEHICLE:</label>
                            <select name="selected-car" id="selected-car">

                                {% for car in user.cars %}
                                <option value="{{ car.id }}">{{ car.brand }} - {{ car.model }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <select id="saved-routes">
                            <option value="">Select a saved route</option>
                            {% for route in saved_routes %}
                            <option class="selected-route" value="{{ route.destinations_json }}">{{
                                route.destinations_json }}</option>
                            {% endfor %}
                        </select>

                        <div id="city-inputs-container">
                            <!-- At least one city input -->
                            <div class="elem-group">
                                <label for="street-city-1">CITY ADDRESS:</label>
                                <input class="address_election city-input" type="text" id="street-city-1"
                                    name="street-city-1" placeholder="Enter city street">
                            </div>
                        </div>
                        <div class="directions-button-container">
                            <button class="directions-button" type="button" onclick="addField()">Add
                                Destination</button>
                            <button class="directions-button" type="button" onclick="removeField()">Remove
                                Destination</button>
                            <button class="directions-button" type="button" id="submit-button"
                                onclick="handleFormSubmission()">GO</button>
                            <button class="directions-button" class="save-button" type="button" id="button"
                                onclick="saveTrip()">Save
                                Route</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="right-div right-content">
                <div class=map-box>
                    <div id="map" style="height: 70vh; width: 55vw;"></div><br>
                </div>
            </div>
        </div>
    </div>

    <div id="description-container">

    </div>
    <script>
        // Attach event listener to the select element with id 'saved-routes'
        const selectMenu = document.getElementById('saved-routes');
        selectMenu.addEventListener('change', updateTextBoxes);
    </script>
</body>


</html>

{% endblock %}