{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/list.css">
    <link rel="stylesheet" href="../static/my_profile.css">
    <link rel="stylesheet" href="../static/listaa2.css">

</head>

<body class="my-profile">
    <!-- <h1 align="center">My Profile</h1> -->

    <div class="container-fluid" style="z-index: 0;">
        <div class="row">
            <!-- Left side content -->
            <div class="left-div left-content">
                <div class="user_details">
                    <h2>{{ user.first_name }}</h2>
                    <p>
                        Email address:<br> {{user.email}}<br>
                        Don't forget to add your vehicle before hitting the road.<br>
                        Make sure you comply with LEZ regulations by checking the Route Planner.
                    </p>
                </div>
            </div>
            <!-- Divider -->
            <div class="divider"></div>

            <!-- Right side content -->
            <div class="right-div right-content">

                <h2 class="h2title">MY CARS</h2>


                <div class="cars-list-container">
                    {% if user.cars %}
                    <ul class="list-group" id="notes" style="margin-top: 50px;">
                        {% for car in user.cars %}
                        <li class="list-group-item">{{ car.brand }} {{car.model}} {{car.year}}
                            <span class="label label-default label-pill pull-right">


                                <button class="edit-button" onclick="editCar('{{ car.id }}')">
                                    <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 494.936 494.936"
                                        xml:space="preserve">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                            <g>
                                                <g>
                                                    <path
                                                        d="M389.844,182.85c-6.743,0-12.21,5.467-12.21,12.21v222.968c0,23.562-19.174,42.735-42.736,42.735H67.157 c-23.562,0-42.736-19.174-42.736-42.735V150.285c0-23.562,19.174-42.735,42.736-42.735h267.741c6.743,0,12.21-5.467,12.21-12.21 s-5.467-12.21-12.21-12.21H67.157C30.126,83.13,0,113.255,0,150.285v267.743c0,37.029,30.126,67.155,67.157,67.155h267.741 c37.03,0,67.156-30.126,67.156-67.155V195.061C402.054,188.318,396.587,182.85,389.844,182.85z">
                                                    </path>
                                                    <path
                                                        d="M483.876,20.791c-14.72-14.72-38.669-14.714-53.377,0L221.352,229.944c-0.28,0.28-3.434,3.559-4.251,5.396l-28.963,65.069 c-2.057,4.619-1.056,10.027,2.521,13.6c2.337,2.336,5.461,3.576,8.639,3.576c1.675,0,3.362-0.346,4.96-1.057l65.07-28.963 c1.83-0.815,5.114-3.97,5.396-4.25L483.876,74.169c7.131-7.131,11.06-16.61,11.06-26.692 C494.936,37.396,491.007,27.915,483.876,20.791z M466.61,56.897L257.457,266.05c-0.035,0.036-0.055,0.078-0.089,0.107 l-33.989,15.131L238.51,247.3c0.03-0.036,0.071-0.055,0.107-0.09L447.765,38.058c5.038-5.039,13.819-5.033,18.846,0.005 c2.518,2.51,3.905,5.855,3.905,9.414C470.516,51.036,469.127,54.38,466.61,56.897z">
                                                    </path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </button>

                                <button class="delete-button"><span class="delete-button-span"
                                        onclick="deleteCar('{{ car.id }}')">CONFIRM DELETE</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </button>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <div class="text-center mt-3">
                        <ul class="list-group" id="routes" style="margin-top: 50px;">
                            <li class="list-group-item">
                                NO CARS REGISTERED YET.
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div class="text-center mt-3">
                    <button class="text-center mt-3 add-button" onclick="addCar()">
                        <img class src="../static/general/icons8-plus-math-24.png" alt="">
                    </button>
                </div>





                <h2 class="h2title">MY ROUTES</h2>

                <div class="saved-routes-container">
                    {% if user.saved_routes %}
                    <ul class="list-group" id="routes" style="margin-top: 50px;">
                        {% for route in user.saved_routes %}
                        <li class="list-group-item">
                            {{ route.destinations_text}}
                            <!-- Display other route details as needed -->
                            <span class="label label-default label-pill pull-right">

                                <button class="delete-button"><span class="delete-button-span"
                                        onclick="deleteRoute('{{ route.id }}')">CONFIRM DELETE</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </button>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <div class="text-center mt-3">
                        <ul class="list-group" id="routes" style="margin-top: 50px;">
                            <li class="list-group-item">
                                NO ROUTES SAVED YET.
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                </div>
                <div class="text-center mt-3">
                    <button class="text-center mt-3 add-button" onclick="openRoutePlanner()">
                        <img class src="../static/general/icons8-plus-math-24.png" alt="">
                    </button>
                    <!-- <a class="btn btn-add btn-success" href="/new-car">Add a new car</a> -->
                </div>
            </div>
        </div>
    </div>

    <br>

    <!-- <div id="map" style="height: 500px; width: 60%;"></div> -->
    <script>
        function deleteCar(carId) {
            window.location.href = "/delete/" + carId;
        }

        function editCar(carId) {
            window.location.href = "/edit/" + carId;
        }
        function addCar(carId) {
            window.location.href = "/new-car";
        }

        function deleteRoute(routeId) {
            window.location.href = "/delete_route/" + routeId;
        }

        function openRoutePlanner() {
            window.location.href = "/maps";
        }
    </script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
{% endblock %}