<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href=" ../static/steps.css">

    <title>Document</title>
</head>

<ol class="steps">
    <li>
        <div class="steps__icon-container">
            😀
        </div>
        <div class="steps__label">Create an account</div>
    </li>
    <li>
        <div class="steps__icon-container">🎉</div>
        <div class="steps__label">Select a template</div>
    </li>
    <li>
        <div class="steps__icon-container">🧠</div>
        <div class="steps__label">Customize your information</div>
    </li>
    <li>
        <div class="steps__icon-container">⚽️</div>
        <div class="steps__label">View your job matches</div>
    </li>
</ol>

</body>

</html>