{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/country_info.css">

    <title>Document</title>
</head>

<body class="uk">

    <div class="page-content">


        <div class="paragraph-container">
            <h2>Low Emission Zones in United Kingdom</h2>
            <div>
                <button type="button" class="collapsible  on-countries">General information </button>
                <div class="collapsed-content-viewable">
                    <p class="">
                        &emsp;Low Emission Zones (known as Clean Air Zones) are established in several cities. These
                        zones follow a national LEZ framework and affect different vehicle types. While stickers are
                        not needed, registration is required for foreign vehicles. Generally, if a vehicle complies with
                        the minimum emission standards, no registration is necessary, and this can be verified using the
                        Route Planner. <br>

                        &emsp;However, if a vehicle does not comply with the standards, a daily registration
                        fee can be paid
                        before entering the LEZ.. Some cities have Low Emission Zones that affect only local buses under
                        specific agreements. Additionally, there are several
                        other urban area road tolling schemes. Below are the cities that impose regulations for regular
                        passenger vehicles. <br>

                    </p>
                </div>
            </div>

            <div>
                <button type="button" class="collapsible  on-countries">Which cities have Low
                    Emission Zones ?
                </button>
                <div class="collapsed-content-viewable">
                    <div class="cities-list">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>City</th>
                                    <th>Required Registration</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for city, registration in zip(cities, registrations) %}
                                <tr>
                                    <td>{{ city }}</td>
                                    <td>{{ registration }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div>
                <button type="button" class="collapsible  on-countries">How do I recognise a Low
                    Emission Zone
                    ?</button>
                <div class="collapsed-content-viewable">
                    <p> &emsp;Environmental zones are marked by specific traffic signs. </p>

                    <div class="flex-box-space-around">
                        <p>
                            <img class="small-img on-page" src={{ url_for('static', filename='uk/LEZ.jpg' ) }}>
                            <img class="small-img on-page" src={{ url_for('static', filename='uk/LEZ2.jpg' ) }}>
                            <img class="small-img on-page" src={{ url_for('static', filename='uk/ULEZ.jpg' ) }}>
                        </p>
                    </div>
                </div>
            </div>


            <div>
                <button type="button" class="collapsible  on-countries"> Do I need a sticker or
                    registration to enter a
                    Low Emission Zone ?
                </button>

                <div class="collapsed-content-viewable">
                    <p>
                        To enter a Low Emission Zone, you must either meet the emissions
                        standards, or pay a daily fee in advance.

                    </p>
                </div>

            </div>

            <div>

                <button type="button" class="collapsible  on-countries"> What are the penalties
                    ?</button>
                <div class="collapsed-content-viewable">
                    <p>
                        &emsp;Violating rules of Low Emission Zones in {{country|capitalize}} results in a fine of
                        {{fines}}.
                    </p>
                </div>
            </div>
        </div>
    </div>

    </div>

    {% endblock %}

</body>

</html>























<!-- 


FLEX BOX MODEL 

<div class="flex-box">

    <ul class="list-group" aria-label="Low Emission Zones">
        {%for city in cities%}
        <li class="list-group-item">{{ city }}</a>
        </li>
        {% endfor %}
    </ul>


    <p class="image-container">
        <img class="on-page" src={{ url_for('static', filename='france/stickers.jpeg' ) }}>
    </p>
    <p>
        <img class="on-page" src={{ url_for('static', filename='france/LEZe.jpg' ) }}>

    </p>
</div> -->